#page-header.about-header{
    background-image: url(../img//banner.png);
    position: relative;
}
#about-head{
    display: flex;
    align-items: center;
    position: relative;
}
#about-head img{
    width: 50%;
    height:auto;
}
#about-head div{
    padding-left: 50px;
}
#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}